# raspberry OS to use
#download_os: "raspbian"

# OS flavor
#download_os_flavor: "lite"

# directory for sdcard image and mountpoints (will be created)
# needs enough space for downloaded archive and full extracted image
#download_workdir: "/tmp/ansible-rpicook"

# set to delete all files from download_workdir after sdcard was written
#sdcard_cleanup: yes

# set to write image to sdcard (the device sdcard_dev points to)
#sdcard_burn: yes

# (don't) pause & prompt before writing image to device
#sdcard_confirm: no

# sdcard device (WARNING: All data on this device will be destroyed!)
#sdcard_dev: /dev/sdX

# --------------------------------------------------------------------------
# s. roles/*/defaults for more config options
# --------------------------------------------------------------------------

# set hostname
hostname: "myraspberry"

# wifi config
wifi_country: "US"
wifi_ssid: "mywifi"
wifi_psk: "mypassword"

# generate ssh keys
ssh_generate_keypair: yes

# set authorized public key
ssh_authorized_keys_template: authorized_keys.j2
